<h1>Sales statistics display system</h1>
<p>@Html.ActionLink("Customers", "CustomersPage", "Customer")</p>
<p>@Html.ActionLink("Managers", "ManagersPage", "Manager")</p>
<p>@Html.ActionLink("Products", "ProductsPage", "Product")</p>
<p>@Html.ActionLink("Orders", "OrdersPage", "Order")</p>