@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityError>

<h1 class="text-danger text-center">Error.</h1>
<h2 class="text-danger text-center">An error occurred while processing your request.</h2>

@if (Model.Count() is 1)
{
    var error = @Model.Single();
    <p class="text-danger text-center error-message">Message: @error.Description</p>
}
else
{
    <p class="text-danger text-center error-message">Messages:</p>

    foreach (var error in Model)
    {
        <p>@error.Description</p>
    }
}