@using Application.UseCases.Customers.Queries.GetCustomersWithPagination
@using Application.UseCases.Customers.Queries.GetFilteringCustomersWithPagination
@model Application.Common.Models.PaginatedList<Application.Common.Models.CustomerDto>

<h2 class="text-center">Customers</h2>

<table class="table text-center">
    <thead>
        <tr>
            <th>
                <button onclick="showInPopup('@Url.Action("Create", "Customer", null, Context.Request.Scheme)', 'Create customer')"
                        class="btn btn-dark">
                    Create customer
                </button>
            </th>
            @*<th><button onclick="showInPopup('@Url.Action("Filter", "Customer",
                                      new GetFilteringCustomersWithPaginationQuery(),
                                      Context.Request.Scheme)', 'Search customers')"
            class="btn btn-dark">Search</button></th>*@
            @await Html.PartialAsync("Filter", new GetFilteringCustomersWithPaginationQuery())
        </tr>
    </thead>
</table>

<div id="customers-data">
    @await Html.PartialAsync("CustomersData", Model)
</div>

<div>
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("Previous page", "CustomersPage", "Customer",
            new GetCustomersWithPaginationQuery { PageNumber = Model.PageNumber - 1 })
    }
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next page", "CustomersPage", "Customer",
            new GetCustomersWithPaginationQuery { PageNumber = Model.PageNumber + 1 })
    }
</div>