@using Application.UseCases.Products.Queries.GetFilteringProductsWithPagination
@using Application.UseCases.Products.Queries.GetProductsWithPagination
@model Application.Common.Models.PaginatedList<Application.Common.Models.ProductDto>

<h2 class="text-center">Products</h2>

<table class="table text-center">
    <thead>
        <tr>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin"))
                {
                    <th>
                        <button onclick="showInPopup('@Url.Action("Create", "Product", null, Context.Request.Scheme)', 'Create product')"
                                class="btn btn-secondary">
                            Create product
                        </button>
                    </th>
                }
            }
            @await Html.PartialAsync("Filter", new GetFilteringProductsWithPaginationQuery())
        </tr>
    </thead>
</table>

<div id="products-data">
    @await Html.PartialAsync("ProductsData", Model)
</div>

<div>
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("Previous page", "ProductsPage", "Product",
            new GetProductsWithPaginationQuery { PageNumber = Model.PageNumber - 1 })
    }
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next page", "ProductsPage", "Product",
            new GetProductsWithPaginationQuery { PageNumber = Model.PageNumber + 1 })
    }
</div>