@model Application.UseCases.Managers.Commands.CreateManager.CreateManagerCommand

<h2 class="text-center">Create customer</h2>

@using (Html.BeginForm("Create", "Manager", FormMethod.Post, new { @id = "createManagerForm", @class = "form-group" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("Last name")
        @Html.EditorFor(m => m.LastName, new { htmlAttributes =
            new { required = "true", minlength = "2", @class = "form-control", placeholder = "Last name" }})
    </div>
    <input type="submit" value="Save" class="btn btn-dark" />
    @Html.ActionLink("Back to List", "ManagersPage", new { }, new { @class = "btn btn-dark" })

    @section Scripts {
        <script>
            $("#createManagerForm").validate();
        </script>
    }
}