@model Application.UseCases.Identity.Role.Commands.UpdateRole.UpdateRoleCommand

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

@using (Html.BeginForm("Update", "Role", FormMethod.Post, 
    new { @id = "updateRoleForm", @class = "form-group" }))
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.Label("New Name")
        @Html.EditorFor(m => m.Name, new 
        { 
            htmlAttributes = new { required = "true", minlength = "2", maxlength = "40", 
                @class = "form-control", placeholder="Name", type = "text" }
        })
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-dark" style="width: 100%" />
    </div>
}

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsPartial")

<script>
    $("#updateRoleForm").validate();
</script>